<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SolicitantesBecas.Properties.Settings.BdCapturaBECASConnectionString"
            connectionString="Data Source=10.10.20.17;Initial Catalog=BdCapturaBECAS;Persist Security Info=True;User ID=sa;Password=Server1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SolicitantesBecasSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3313/CapturaBECAS.asmx" binding="basicHttpBinding"
                bindingConfiguration="SolicitantesBecasSoap" contract="wsSolicitanteBecas.SolicitantesBecasSoap"
                name="SolicitantesBecasSoap" />
        </client>
    </system.serviceModel>
</configuration>