<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SolicitantesBecas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SolicitantesBecas.Properties.Settings.BdCapturaBECASConnectionString"
            connectionString="Data Source=10.10.20.17;Initial Catalog=BdCapturaBECAS;Persist Security Info=True;User ID=sa;Password=Server1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SolicitantesBecasSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3313/CapturaBECAS.asmx" binding="basicHttpBinding" bindingConfiguration="SolicitantesBecasSoap" contract="wsSolicitanteBecas.SolicitantesBecasSoap" name="SolicitantesBecasSoap"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <SolicitantesBecas.Properties.Settings>
            <setting name="smtpAddress" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="portNumber" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="enableSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emailFrom" serializeAs="String">
                <value>xmal.morthen@gmail.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>malditamater</value>
            </setting>
            <setting name="emailTo" serializeAs="String">
                <value>xmal.morthen@gmail.com</value>
            </setting>
            <setting name="numErrAntesdeEnviarCorreo" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CURPBaseURL" serializeAs="String">
                <value>http://wsrenapo.col.gob.mx/curp2/CURP</value>
            </setting>
            <setting name="usuarioCURP" serializeAs="String">
                <value>xmalmorthen</value>
            </setting>
            <setting name="contraseniaCURP" serializeAs="String">
                <value>b16f550d147bf92e9455074d9edfe013</value>
            </setting>
        </SolicitantesBecas.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
