<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SolicitantesBecas.Properties.Settings.BdCapturaBECASConnectionString"
            connectionString="Data Source=10.10.20.17;Initial Catalog=BdCapturaBECAS;Persist Security Info=True;User ID=sa;Password=Server1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>